img{
  width:100%;
  height:auto;
}
.content-block{
  height:50%;
  width:50%;
  position: absolute;
  background: #fff;
  top:25%;
}
.content-block-center{
  height:100%;
  width:100%;
  position: absolute;
  overflow: hidden;
}
.content-block-center img{
  position: absolute;
  left:100%;
  -webkit-transition: left 1s 0ms;
  transition: left 1s 0ms;
}
.content-block-center img.currentImg{
  position: absolute;
  left:0;
}
.titel-block{
  height:25%;
  width:50%;
  position: absolute;
  background-color: #fff;
  top:75%;
}
.image-block-center{
  height:100%;
  width:100%;
  position: absolute;
  z-index:100;
  opacity: 0;
  top:0;
  left:0;
  overflow: hidden;
  -webkit-transition: height 1s 0ms, width 1s 0ms, top 1s 0ms, left 1s 0ms;
  transition: height 1s 0ms, width 1s 0ms, top 1s 0ms, left 1s 0ms;
}
.image-block-center.transNext{
  height:50%;
  width:50%;
  top:-50%;
  left:-50%;
}
.image-block-center.transPrev{
  height:50%;
  width:50%;
  top:100%;
  left:100%;
}
.content-title-block{
  display: inline-block;
  margin-left: 75px;
  margin-top: 17px;
}
.show{
  opacity: 1;
}
.none{
  display: none;
}
.multiple-images-container{
  width:50%;
  display: inline-block;
  height:10px;
  float:right;
  margin: 10px;
  text-align: right;
}
.counter{
  background-color: #a1a1a1;
  height: 100%;
  margin-right: 10px;
  display: inline-block;
}
.counter.current{
  background-color: #252525;
}
.content-text-block{
  background-color: #252525;
  width:50px;
  height:50px;
  top:75%;
  position: absolute;
  left:25%;
  z-index:101;
  cursor: pointer;
}
.text-block-content{
  opacity:0;
}
.text-block-section{
  width:50px;
  height:50px;
  top:75%;
  position: absolute;
  left:25%;
  z-index: 100;
  background-color:#252525;
  overflow: hidden;
  -webkit-transition: height 1s 0ms, width 1s 0ms, top 1s 0s, left 1s 0s;
  transition: height 1s 0ms, width 1s 0ms, top 1s 0s, left 1s 0s;
}
.text-block-section p{
  padding:50px;
  opacity:0;
  -webkit-transition: opacity 200ms 0s;
  transition: opacity 200ms 0s;
  line-height: 1.6;
}
.text-block-section.open{
  width: 25%;
  height:50%;
  top:calc(25% + 50px);
  left:50px;
}
.text-block-section.open p{
  opacity: 1;
}
@media screen and (max-width: 1024px){
  .multiple-images-container{
    width:100%;
    display: block;
    float:right;
    margin: 30px 10px 0px 30px;
    text-align: right;
  }
}
@media screen and (max-width: 780px){
  .content-block{
    height:50%;
    width:100%;
    top:100px;
    border-top:solid 2px #252525;
    margin-top:10px;
    padding-top:10px;
  }
  .content-block-center{
    height:100%;
    width:100%;
    position: absolute;
    overflow: hidden;
  }
  .image-block-center{
    -webkit-transition:left 1s 0ms;
    transition:left 1s 0ms;
  }
  .image-block-center.transNext{
    height:100%;
    width:100%;
    top:10px;
    left:-100%;
  }
  .image-block-center.transPrev{
    height:100%;
    width:100%;
    top:10px;
    left:100%;
  }
  .titel-block{
    height:50%;
    width:100%;
    top:50%;
    margin-top:100px;
    background: none;
    z-index: 10;
  }
  .content-title-block{
    display: inline-block;
    margin-left: 75px;
    margin-top: 17px;
  }
  .multiple-images-container{
    width:100%;
    display: block;
    height:10px;
    float:none;
    margin: 10px;
    text-align: center;
  }
  .content-text-block{
    top:50%;
    margin-top:100px;
    left:0;
    background-color: #a1a1a1;
  }
  .text-block-section{
    top:50%;
    margin-top:100px;
    left:0;
    overflow:scroll;
    -webkit-transition: height 1s 0ms, width 1s 0ms, top 1s 0s;
    transition: height 1s 0ms, width 1s 0ms, top 1s 0s;
  }
  .text-block-section p{
    padding:50px;
    opacity:0;
    -webkit-transition: opacity 200ms 0s;
    transition: opacity 200ms 0s;
    line-height: 1.6;
  }
  .text-block-section.open{
    width: 100%;
    height:50%;
    top:50px;
    left:0;
  }
  .text-block-section.open p{
    opacity: 1;
  }
}
