.previous-block{
  width:25%;
  height:25%;
  position:absolute;
  background-color: #fff;
  cursor: pointer;
}
.prev-block-cut{
  width:100%;
  height: 100%;
  overflow: hidden;
}
.previous-image{
  opacity: 1;
}
.previous-block-image{
  width:100%;
  height:100%;
  position: absolute;
  opacity: 0;
  top:0;
  left:0;
  z-index:100;
  overflow: hidden;
  -webkit-transition: height 1s 0ms, width 1s 0ms, top 1s 0s, left 1s 0s;
  transition: height 1s 0ms, width 1s 0ms, top 1s 0s, left 1s 0s;
}
.previous-block-prev{
  width:0%;
  height:0%;
  position: absolute;
  opacity: 0;
  top:0;
  left:0;
  z-index:100;
  overflow: hidden;
  -webkit-transition: height 1s 0ms, width 1s 0ms;
  transition: height 1s 0ms, width 1s 0ms;
}
.previous-block-image.transNext{
  height:0%;
  width:0%;
  top:0;
  left:0;
}
.previous-block-image.transPrev{
  height:200%;
  width:200%;
  top:100%;
  left:100%;
}
.previous-block-prev.transPrev{
  height: 25%;
  width: 25%;
}
.navigation-block{
  width:25%;
  height: 25%;
  position:absolute;
  bottom: 0px;
}
.nav-list{
  margin-left:50px;
  margin-top: 70px;
  list-style: none;
}
.nav-list li h2{
  margin-bottom: 10px;
  padding: 8px;
  display: block;
  cursor: pointer;
}
.current{
  background-color:#2d1629;
  color:#fff;
}
.show{
  opacity:1;
}
.none{
  opacity:0;
}
@media screen and (max-width: 780px){
  .previous-block{
    width:50%;
    height:20px;
    top:50%;
    margin-top:200px;
    background-color: #452c46;
    z-index: 200;
    padding:10px 0;
    text-align: center;
  }
  .previous-block::after{
    content:"Previous";
    color: #fff;
    padding-top:20px;
    text-transform: uppercase;
  }
  .prev-block-cut{
    display: none;
  }
  .previous-block-image{
    display: none;
  }
  .previous-block-prev{
    display: none;
  }
  .previous-block-image.transNext{
    display: none;
  }
  .previous-block-image.transPrev{
    display: none;
  }
  .navigation-block{
    width:90%;
    height: 50px;
    position:absolute;
    bottom: auto;
    top:0;
    left:10%;
    margin-top:10px;
    z-index: 201;
  }
  .nav-list{
    margin-left:0px;
    margin-top: 20px;
    list-style: none;
    text-align: center;
  }
  .nav-list li{
    display: inline-block;
    width:30%;
  }
  .nav-list li h2{
    margin-bottom: 0px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
  }
}
